extends ../layouts/default/layout

block content
  div.row
    div.col-md-12
      h2= title
      hr
      table.table.table-striped.table-hover
        thead
          tr
            th #
            th Titulo
            th Descripcion
            th Prioridad
            th Fecha
            th Estado
            th Acciones
        tbody
          each task in tasks
            tr
              td= task.id
              td= task.title
              td= task.description
              td= task.priority
              td= task.date
              td= task.status
              td
                a(href='tasks/editar/#{task.id}', class='btn btn-xs btn-success', style='margin-right: 3px;') Editar
                button(onclick='', class='btn btn-xs btn-danger') Eliminar
